<footer class="footer">
  <div class="footer__container">
    <section>
      <h2 class="footer__title">sobre</h2>
      <p class="footer__about-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin non libero viverra, gravida lorem ut, hendrerit
        augue. Vivamus laoreet leo non aliquam gravida. Donec facilisis libero ex, quis tristique elit eleifend et.
        Quisque
      </p>
    </section>
    <address>
      <h2 class="footer__title">contato</h2>
      <ul>
        <li><i class="fa-sharp fa-solid fa-envelope"></i> email@email.com</li>
        <li><i class="fa-solid fa-phone"></i> (00) 000-000</li>
        <li><i class="fa-brands fa-whatsapp"></i> (00) 000-000</li>
      </ul>
    </address>
  </div>
  <section class="footer__copyright">
    &copy; todos os direitos reservados
  </section>
</footer>
